

[usb]

# [delayed_gcode DELAYS]

# # Usage: DELAYS
# gcode:
#   {% set z_offset = params.zoffset|default(0)|float %}
#   { action_respond_info("Loaded z-offset from variable: %.2f" % z_offset) }
# initial_duration: 5.0
[gcode_macro CESHII]
variable_zoffset: 0.0
gcode:
  {% set z_offset = params.zoffset|default()|float %}
  { action_respond_info("Loaded z-offset from variable: %.2f" % zoffset) }


[gcode_macro CESHI]
variable_zoffset: 0.0
gcode:
  RUN_USB_SCRIPT
  # SET_GCODE_VARIABLE VARIABLE=CESHI VALUE=value
  # DELAYS
  
  CESHII

