
[gcode_macro _km_options]
# X position to park toolhead (set "max" or "min" to infer from stepper config).
variable_park_x: 20
# Y position to park toolhead (set "max" or "min" to infer from stepper config).
variable_park_y: 20

gcode: # Klipper 要求这一行存在。

[include macros/*.cfg]


# 以下部分是宏工作的必要条件。如果您的配置已经有其中的一些部分，你应该合并重复的部分（或者如果它们完全相同，则删除其中一个）。
[idle_timeout]
gcode:
  _KM_IDLE_TIMEOUT # 此行必须位于你的 idle_timeout 部分。

[pause_resume]

[respond]

[save_variables]
filename: ~/printer_data/config/variable.cfg # 更新此路径以符合你的需求！

[virtual_sdcard]
path: ~/printer_data/gcodes # 更新此路径以符合你的需求！
on_error_gcode: CANCEL_PRINT

[display_status]


