[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_2800230009504B5735313920-if00

[include main.cfg]
[include ceshi.cfg]
# [include mainsail.cfg]
[include hong.cfg]




[gcode_macro USB_COMMUNICATE]
gcode:
  RUN_USB_SCRIPT

[gcode_macro USB_DATA]
gcode:
